<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="LastCell" value="63"/>
    <add key="Bridge" value="6"/>
    <add key="BridgeSteps" value="6"/>
    <add key="GooseCells" value="5,9,14,18,23,27"/>
    <add key="AutoExec" value="1"/>
    <add key="AutoPlayers" value="John, Paul, George, Ringo"/>
  </appSettings>
</configuration>